@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.main {
  min-height: 100vh;
  background-color: #da2c38;
  font-family: "Orbitron", sans-serif;
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drum-machine {
  max-width: 40em;
  border-radius: 10px;
  background-color: #2e2828;
  color: white;
  border: white solid 15px;
  padding: 2em;
}

.title {
  text-align: center;
  padding-bottom: 2em;
}

#display {
  text-align: center;
}

#display label {
  color: #c7193e;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 10px;
}


.btn {
  min-width: 70px;
  border-radius: 15%;
  font-size: 1.2em;
  margin: 5px 5px;
  box-sizing: border-box;
  background-color: #17c2e8;
  padding: 10px 15px;
}


.drum-pad-painel {
  padding: 1em;
}

.drum-pad-dysplay {
  padding: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.col {
  padding: 0;
  justify-content: center;
}
